<?xml version="1.0"?>
<!--
 /**
 * ZincPlatform
 * @package    Zinc_Carebyzinc
 * @copyright  Copyright (c) 2016-2017 Zinplatform (http://www.zincplatform.com/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */ 
-->
<config>
    <tabs>
        <zinc_carebyzinc translate="label" module="carebyzinc">
            <label>Zinc Admin</label>
            <sort_order>150</sort_order>
        </zinc_carebyzinc>
    </tabs>
    <sections>
        <carebyzinc>
            <label>Care by Zinc</label>
            <tab>zinc_carebyzinc</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_Yesno</source_model>
                        </enabled>
                        <defaultzip>
                            <label>Default Zipcode</label>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                        </defaultzip>
                        <warranty_product>
                            <label>Insurance Virtual Product ID</label>
                            <sort_order>50</sort_order>
                            <validate>required-entry validate-number</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                        </warranty_product>
                    </fields>
                </general>
                <api>
                    <label>Configuration</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <testmode>
                            <label>API Mode</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>carebyzinc/system_config_source</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </testmode>
                        <test_url>
                            <label>Regression API URL</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <testmode>
                                    <value>test</value>
                                </testmode>
                            </depends>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </test_url>
                        <test_xuser_token>
                            <label>Regression API X-User-Token</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <testmode>
                                    <value>test</value>
                                </testmode>
                            </depends>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </test_xuser_token>
                        <sandbox_url>
                            <label>Sandbox API URL</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <testmode>
                                    <value>sandbox</value>
                                </testmode>
                            </depends>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </sandbox_url>
                        <sandbox_xuser_token>
                            <label>Sandbox API X-User-Token</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <testmode>
                                    <value>sandbox</value>
                                </testmode>
                            </depends>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </sandbox_xuser_token>
                        <staging_url>
                            <label>Staging API URL</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <testmode>
                                    <value>staging</value>
                                </testmode>
                            </depends>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </staging_url>
                        <staging_xuser_token>
                            <label>Staging API X-User-Token</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <testmode>
                                    <value>staging</value>
                                </testmode>
                            </depends>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </staging_xuser_token>
                        <url>
                            <label>Production API URL</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <testmode>
                                    <value>live</value>
                                </testmode>
                            </depends>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </url>
                        <xuser_token>
                            <label>X-User-Token</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <testmode>
                                    <value>live</value>
                                </testmode>
                            </depends>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </xuser_token>
                        <xuser_email>
                            <label>X-User-Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </xuser_email>
                        <validate translate="label" module="carebyzinc">
                            <comment>Please save configuration value before validating.</comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>carebyzinc/adminhtml_system_config_tokenvalidate</frontend_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </validate>
                    </fields>
                </api>
                <display>
                    <label>Display (Quote Visibility)</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <quoteproduct>
                            <label>Product Page</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_Yesno</source_model>  
                        </quoteproduct>
                        <quotecart>
                            <label>Cart</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_Yesno</source_model>  
                        </quotecart>
                        <interstitial>
                            <label>Interstitial Popup</label>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_Yesno</source_model>
                        </interstitial>
                        <thankyou>
                            <label>Thank You Page</label>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_Yesno</source_model>
                        </thankyou>
                    </fields>
                </display>
<!--                
                    <importorders>
                    <label>Import Orders</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <days>
                            <label>Days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </days>
                        <import translate="label" module="carebyzinc">
                            <frontend_type>button</frontend_type>
                            <frontend_model>carebyzinc/adminhtml_system_config_importorders</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </import>
                    </fields>
                </importorders>
-->
            </groups>
        </carebyzinc>
    </sections>
</config>
